body {
	width:100%;
}
.sidebar {
	margin-top: 0px;
}
#admin-page {
	padding-top: 0px;
}
#thumbnail {
	height: 250px;
}

#auth-container {
	padding-top: 40px;
}

#shop-nav{
	background-color: #232f3e;
}

footer {
  margin-bottom: 0px;
}


#page-title {
	padding-left: 150px;
}


.search-result ul li {
	list-style-type: none;
}

.search-result ul {
	padding:0;
}

.search-result{
	position: absolute;
	z-index: 100;
}

#search-suggest {
	background-color: #fff;
}

.comment-reply {
	display: none;
}
.thumbnail> #thumb-image{
	height:150px;
}
#app {
	margin-top: 40px;
}

#sort-btn {
	margin: 10px 10px;
}
#nested-comment{
	margin-top: 20px;
}

#footer {
	background-color: #232f3e;
	margin: 0px;
}

#section7 {
	padding: 10px 10px;
	background-color: #5491bd;
}

#section7 i {
	color: #fff;
}

body {
	padding-top: 70px;
}


// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
