
.sidebar {
	margin-top: 0px;
}
#admin-page {
	padding-top: 0px;
}

#auth-container {
	padding-top: 40px;
}

#shop-nav{
	background-color: #232f3e;
}

.search-result ul li {
	list-style-type: none;
}

.search-result ul {
	padding:0;
}

.search-result{
	position: absolute;
	z-index: 100;
}

#search-suggest {
	background-color: #fff;
}

.comment-reply {
	display: none;
}
.thumbnail> #thumb-image{
	height:150px;
}
#app {
	margin-top: 40px;
}

.row {
	margin-top: 40px;
}
#nested-comment{
	margin-top: 20px;
}


// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
